/* HEADER */

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.logo {
    width: 216px;
    height: 14px;
	margin-left: 146px;
}

.header-menu {
	display: flex;
}

.header-menu a {
	text-decoration: none;
	color:black;
	margin-left:45px;
	font-family: 'Space Mono', monospace;
	font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Center;
}

.header-menu a:hover {
	font-weight: 700;
}

.header-menu li{
	list-style-type:none;
}

.footer-menu {
	display: flex;
}

.footer-menu li{
	list-style-type:none;
}

.menu-item-89, .menu-item-96 {
    margin-left:85px;
}

.new_menu {
    display: flex;
    align-items: center;
}

.footer-menu a {
	text-decoration: none;
	color:black;
	font-family: 'Space Mono', monospace;
	font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Center;
}

.footer-menu a:hover {
	font-weight: 700;
}

#footer {
	max-width: 1440px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px black;
	
}

.menu-menu-footer-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


.modal {
    border: solid 5px black;
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    width: 597px; 
    height: 769px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white; /* Black w/ opacity */
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Form */

.formulaire {
    display: flex;
    flex-direction: column;
}

/* Modal Content/Box */
.modal-content {
    padding-top: 18px;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.formulaire {
    align-self: center;
}

input[type=text], input[type=email]{
    width: 263px;
    height: 40px;
    border: 0;
    border-color: black;
    border: solid 1px black;
    margin-bottom: 24px;
}

input[type=submit] {
    width: 214px;
    height: 38px;
    align-self: center;
    border: 0;
    border-left: solid 4px black ;
    background-color: white;
    margin-left: 25px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 10%;
}

input[type=submit]:hover{
color: white;
background-color: black;
}

input[type=message]{
width: 263px;
height: 142px;
border: 0;
border-color: black;
border: solid 1px black;
margin-bottom: 37px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnmodal {
    color:black;
	font-family: 'Space Mono', monospace;
	font-style: Regular;
    Font-size: 16px;
    Line-height: 24px;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Center;
    margin: 0 145px 2px 45px;
    padding:0;
    border: none;
    background-color: white;
}

#btnmodal:hover {
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width : 915px){

	.footer-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.footer-menu li {
         margin-top: 24px;
	}

    .menu-item-89, .menu-item-96 {
        margin-left:0;
    }


	.logo {
		width: 138px;
		height: 9px;
		margin-left: 40px;
	}

    .header-menu {
        display: none;
    }
}
	